.macro-ctp-entry {
	display: inline-block;
}

.macro-ctp-entry-t8n {
	animation: macro-ctp-fade-in 600ms;
}

@keyframes macro-ctp-fade-in {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
